
@font-face {
    font-family: "Headings";
    src: url(./Assets/Text/Headings.ttf);
}
@font-face {
    font-family: "OtherText";
    src: url(./Assets/Text/OtherText.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headingText{
    font-family: 'Headings', Courier, monospace;
}
.otherHeadings{
    font-family: 'otherText', Courier, monospace;
}
.padding10{
    padding:2rem;
    margin:1rem;
}
#galleryText{
    padding-left:15px;
}

